<div class="background-container">
    <h2>Contact Me</h2>
    <p>I build beautiful websites &amp; create engaging<br> online experiences.</p>
</div>
<form class="form-container">
   <div class="row">
     <!-- Name input -->
     <div class="form-outline mb-4 col md-6">
        <label class="form-label" for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Name"/>
    </div>
    
    <!-- Email input -->
    <div class="form-outline mb-4 col md-6">
        <label class="form-label" for="email">Email Address</label>
        <input type="email" id="email" class="form-control" placeholder="Email"/>
    </div>
   </div>
    
    <!-- Message input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Enter Message"></textarea>
    </div>
      
    <!-- Checkbox -->
    <!-- <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
        <label class="form-check-label" for="form4Example4">
        Send me a copy of this message
        </label>
    </div> -->
    
    <!-- Submit button -->
    <div class="custom-btn">
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </div>
</form>

