<div class="background-container">
    <h2>Contact Me</h2>
    <p>I build beautiful websites &amp; create engaging<br> online experiences.</p>
</div>
<form class="form-container">
   <div class="row">
     <div class="form-outline mb-4 col md-6">
        <label class="form-label" for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-outline mb-4 col md-6">
        <label class="form-label" for="email">Email Address</label>
        <input type="email" id="email" class="form-control" placeholder="Email"/>
    </div>
   </div>
    
    <div class="form-outline mb-4">
        <label class="form-label" for="message">Message</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Enter Message"></textarea>
    </div>
    <div class="custom-btn">
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </div>
</form>
<div style="text-align: center;">
    <h4>Note: It is recommened to click on Whatsapp Icon  to get quick response.</h4>
</div>
<app-whatsapp-link></app-whatsapp-link>

