<main id="content" class="content">
    <div class="page-container">
        <div class="header">
            <h1>About Prabhat Sharma</h1>
        </div>
        <div class="img-container">
            <img aria-hidden="true" src="../../../assets/images/Image_1.png" alt="">
        </div>
        <p>I am a Front-end Developer with 6+ years of experience and I have done masters in Computer Applications from a recongnized University.
            I create successful websites that are fast,
            easy to use, and built with best practices.</p>
        <p>I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and
            frustration-free.</p>
        <p>My main experience is in front-end development but I also have a passion for design. Given that producing
            a modern website requires the combination of design, server technology, and the layer that users
            interacts with, I believe having experience in both design and development allows for making the most
            optimal user experiences.</p>
        <p>My clients have found that hiring me has saved them time and money, made it
            easier to grow their website alongside their business, and made for a product that is consistently of
            high quality.
        </p>

        <p>I take great pride in not only being able to complete work to the high standard you expect but also go
            the extra mile wherever possible. I enjoy getting to know a business, its goals, and how I can best
            apply myself to make sure your website succeeds. For established clients, I particularly like analysing
            their metrics and making data-based decisions and recommendations, leading to better rates of success.
        </p>
        <p>I can quickly and efficiently join your team using continuous-integration methods and tools such as Git
            and Agile.</p>
        <div class="front-end-container">
            <h2>Front-end Developer</h2>
            <p>I use HTML, CSS, and JavaScript to produce responsive websites and web apps that provide users the best
                and most appropriate experience to their device and browser.</p>
            <div class="skills-section">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Skills</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li><img src="../../../assets/icons/js.svg" />JavaScript</li>
                            <li><img src="../../../assets/icons/html.svg" />HTML/HTML 5</li>
                            <li><img src="../../../assets/icons/css.svg" />Responsive CSS</li>
                            <li><img src="../../../assets/icons/angular.svg" />Angular</li>
                        </ul>
                        <p>
                            <small>
                                <em>This is a list of my foundational front-end
                                    development skills. I'm also familiar with many tools and frameworks that fall under
                                    these main categories.
                                </em>
                            </small>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <p>I write standards based code that is semantic, accessible, search-engine friendly, easy to maintain,
                cross browser compatible, and performant.</p>
            <p>Building a future-proof and easy-to-maintain website is achieved by breaking down a web page into its
                smallest pieces, often called components, and building them in a way that exists outside the context of
                the design they first appear in. This allows for components that can be re-used in other areas of a
                website as it grows and makes the intention easier for other developers to understand and test. 
                All involved in a project can rely on a style guide to understand a project’s language and produce a
                more consistent user experience. Re-usable components make for a website that can quickly grow as does your business.</p>
        </div>
        <div class="backend-end-container">
            <h2>Back-end Developer</h2>
            <p>I use Nodejs, PHP, and Laravel for the backend development. A backend developer's job entails focusing on website architecture, scripting, and writing code that communicates between the website’s database and the user's browser. Data consistency and integrity must be ensured. </p>
            <div class="skills-section">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Skills</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li><img src="../../../assets/icons/nodejs.svg" />Node Js</li>
                            <li><img style="height: 30px;width: 50px;" src="../../../assets/icons/php.svg" />PHP</li>
                            <li><img style="height: 40px;width: 50px;" src="../../../assets/icons/laravel.png" />Laravel
                            </li>
                        </ul>
                        <p>
                            <small>
                                <em>This is a list of my foundational front-end
                                    development skills. I'm also familiar with many tools and frameworks that fall under
                                    these
                                    main categories.
                                </em>
                            </small>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <p> Back-end development covers server-side web application logic and integration and activities, like writing APIs, creating libraries, and working with system components instead of frontend development, which focuses on customer-facing services and programs. Backend developers build code that allows a database and an application to communicate with one another. Backend developers take care and maintain the back-end of a website, Including databases, servers, and apps, and they control what you don't see.</p>
        </div>
    </div>
</main>
<app-whatsapp-link></app-whatsapp-link>