<main id="content" class="content">
    <div class="page-container">
        <div class="header">
            <h1>About Prabhat Sharma</h1>
        </div>
        <div class="img-container">
            <img aria-hidden="true" src="../../../assets/images/Image_1.png" alt="">
        </div>
        <p>I am a Front-end Developer with 12 years commercial experience, author of <a
                href="http://www.css3foundations.com" target="_blank" rel="noopener noreferrer nofollow">CSS3
                Foundations</a>, and graduate of Internet Technology. I create successful websites that are fast,
            easy to use, and built with best practices.</p>
        <p>I work to make a better web; one that is fast, easy to use, beautiful, accessible to all, and
            frustration-free. Regardless of your specific business requirements, in solving these challenges, you
            have a great chance of finding success online.</p>
        <p>My main experience is in front-end development but I also have a passion for design. Given that producing
            a modern website requires the combination of design, server technology, and the layer that users
            interacts with, I believe having experience in both design and development allows for making the most
            optimal user experiences.</p>
        <p><a href="/testimonials/">My clients</a> have found that hiring me has saved them time and money, made it
            easier to grow their website alongside their business, and made for a product that is consistently of
            high quality.</p>

        <p>I take great pride in not only being able to complete work to the high standard you expect but also go
            the extra mile wherever possible. I enjoy getting to know a business, its goals, and how I can best
            apply myself to make sure your website succeeds. For established clients, I particularly like analysing
            their metrics and making data-based decisions and recommendations, leading to better rates of success.
        </p>
        <p>I can quickly and efficiently join your team using continuous-integration methods and tools such as Git
            and Agile.</p>
        <div class="front-end-container">
            <h2>Front-end Developer</h2>
            <p>I use HTML, CSS, and JavaScript to produce responsive websites and web apps that provide users the best
                and most appropriate experience suited to their device and browser.</p>
            <div class="skills-section">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Skills</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li><img src="../../../assets/icons/js.svg" />JavaScript</li>
                            <li><img src="../../../assets/icons/html.svg" />HTML/HTML 5</li>
                            <li><img src="../../../assets/icons/css.svg" />Responsive CSS</li>
                            <li><img src="../../../assets/icons/angular.svg" />Angular</li>
                        </ul>
                        <p>
                            <small>
                                <em>This is a list of my foundational front-end
                                    development skills. I'm also familiar with many tools and frameworks that fall under
                                    these
                                    main categories.
                                </em>
                            </small>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <p>I write standards based code that is semantic, accessible, search-engine friendly, easy to maintain,
                cross browser compatible, and performant.</p>
            <p>Building a future-proof and easy-to-maintain website is achieved by breaking down a web page into its
                smallest pieces, often called components, and building them in a way that exists outside the context of
                the design they first appear in. This allows for components that can be re-used in other areas of a
                website as it grows and makes the intention easier for other developers to understand and test. Wherever
                possible, I find it valuable to create a style guide (using <a href="https://storybook.js.org/"
                    rel="nofollow noreferrer noopener">Storybook</a> for example) that acts as a document for a reusable
                and maintainable code base. All involved in a project can rely on a style guide to understand a
                project’s language and produce a more consistent user experience. Re-usable components make for a
                website that can quickly grow as does your business.</p>
            <p>I am also experienced in building systems that implement business logic and interact with server-side
                technology via APIs and tools such as React and Redux, as well as testing code using tools such as
                Jasmine.</p>
            <p>I have a special interest in use of animation on the web. I particularly like working on websites that
                have seamless transitions and require high-level performance to maintain a smooth and appealing website.
            </p>
        </div>
        <div class="backend-end-container">
            <h2>Back-end Developer</h2>
            <p>I use HTML, CSS, and JavaScript to produce responsive websites and web apps that provide users the best
                and most appropriate experience suited to their device and browser.</p>
            <div class="skills-section">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Skills</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul>
                            <li><img src="../../../assets/icons/nodejs.svg" />Node Js</li>
                            <li><img style="height: 30px;width: 50px;" src="../../../assets/icons/php.svg" />PHP</li>
                            <li><img style="height: 40px;width: 50px;" src="../../../assets/icons/laravel.png" />Laravel
                            </li>
                        </ul>
                        <p>
                            <small>
                                <em>This is a list of my foundational front-end
                                    development skills. I'm also familiar with many tools and frameworks that fall under
                                    these
                                    main categories.
                                </em>
                            </small>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <p>I write standards based code that is semantic, accessible, search-engine friendly, easy to maintain,
                cross browser compatible, and performant.</p>
            <p>Building a future-proof and easy-to-maintain website is achieved by breaking down a web page into its
                smallest pieces, often called components, and building them in a way that exists outside the context of
                the design they first appear in. This allows for components that can be re-used in other areas of a
                website as it grows and makes the intention easier for other developers to understand and test. Wherever
                possible, I find it valuable to create a style guide (using <a href="https://storybook.js.org/"
                    rel="nofollow noreferrer noopener">Storybook</a> for example) that acts as a document for a reusable
                and maintainable code base. All involved in a project can rely on a style guide to understand a
                project’s language and produce a more consistent user experience. Re-usable components make for a
                website that can quickly grow as does your business.</p>
            <p>I am also experienced in building systems that implement business logic and interact with server-side
                technology via APIs and tools such as React and Redux, as well as testing code using tools such as
                Jasmine.</p>
            <p>I have a special interest in use of animation on the web. I particularly like working on websites that
                have seamless transitions and require high-level performance to maintain a smooth and appealing website.
            </p>
        </div>
    </div>
</main>
<app-whatsapp-link></app-whatsapp-link>