<div class="container-fluid bg-navy">
    <footer class="container text-center">
        <div class="col-md-12 social">
            <a class="bg-facebook" href="https://www.facebook.com/ER.Web.Design.Development" target="_blank" title="Prabhat Sharma,Full stack web developer &amp; Developer on Facebook"><i class="fa fa-facebook"></i></a>
            <a class="bg-twitter" href="https://twitter.com/mlestrnge" target="_blank" title="Prabhat Sharma,Full stack web developer &amp; Developer on Twitter"><i class="fa fa-twitter"></i></a>
            <a class="bg-google-plus" href="http://google.com/+EmilyridgeIe" target="_blank" title="Prabhat Sharma,Full stack web developer &amp; Developer on Google Plus"><i class="fa fa-google-plus"></i></a>
            <a class="bg-linkedin" href="http://au.linkedin.com/pub/emily-ridge/33/44b/8a7" target="_blank" title="Prabhat Sharma,Full stack web developer &amp; Developer on LinkedIn"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="row">
            <div class="col-md-12 credits">
                <p>Copyright © 2023&nbsp;Prabhat Sharma&nbsp;•&nbsp;Web Designer &amp; Full Stack Developer</p>
            </div>   
        </div>
    </footer>
</div>