<div class="container-fluid bg-navy">
    <footer class="container text-center">
       
        <!-- social -->
        <div class="mt-5">
            <div class="col-md-12 social">
        
                <a class="bg-facebook" href="https://www.facebook.com/ER.Web.Design.Development" target="_blank" title="Emily Ridge, Galway based Freelance Web Designer &amp; Developer on Facebook"><i class="fa fa-facebook"></i></a>
                
                <a class="bg-twitter" href="https://twitter.com/mlestrnge" target="_blank" title="Emily Ridge, Galway based Freelance Web Designer &amp; Developer on Twitter"><i class="fa fa-twitter"></i></a>
                
                <a class="bg-google-plus" href="http://google.com/+EmilyridgeIe" target="_blank" title="Emily Ridge, Galway based Freelance Web Designer &amp; Developer on Google Plus"><i class="fa fa-google-plus"></i></a>
            
                <a class="bg-linkedin" href="http://au.linkedin.com/pub/emily-ridge/33/44b/8a7" target="_blank" title="Emily Ridge, Galway based Freelance Web Designer &amp; Developer on LinkedIn"><i class="fa fa-linkedin"></i></a>
                
        </div> <!-- end col -->  
    </div> <!-- end row -->
    
        <!-- footer navigation -->
        <div class="row">
            <div class="col-md-12 hidden-xs">
                <ul id="menu-footer-navigation" class="nav footer-nav clearfix"><li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-61"><a title="Home" href="http://www.emilyridge.ie/">Home</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a title="Galway Web Developer Portfolio" href="http://www.emilyridge.ie/web-developer-portfolio-galway/">Portfolio</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-59"><a title="Galway Website Services" href="http://www.emilyridge.ie/galway-website-services/">Services</a></li>
<li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a title="Wordpress Website Project Planner" href="http://www.emilyridge.ie/project-planner/">Project Planner</a></li>
<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a title="Galway Web Developer" href="http://www.emilyridge.ie/about/">About</a></li>
<li id="menu-item-777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-777"><a title="Galway Web Developer Resources" href="http://www.emilyridge.ie/resources/">Resources</a></li>
<li id="menu-item-1120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1120"><a href="http://www.emilyridge.ie/tutorials">Tutorials</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a title="Contact Galway Wordpress Developer" href="http://www.emilyridge.ie/contact/">Contact</a></li>
</ul>                        </div> <!-- end col -->   
        </div> <!-- end row -->
        
        <!-- footer navigation -->
        <div class="row">
            <div class="col-md-12 hidden-xs">
                <ul id="menu-legal-nav" class="nav footer-nav clearfix"><li id="menu-item-1225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1225"><a href="http://www.emilyridge.ie/privacy-policy/">Privacy Policy</a></li>
<li id="menu-item-1226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1226"><a href="http://www.emilyridge.ie/cookie-policy/">Cookie Policy</a></li>
<li id="menu-item-1224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1224"><a href="http://www.emilyridge.ie/terms-and-conditions/">Terms &amp; Conditions</a></li>
</ul>                        </div> <!-- end col -->   
        </div> <!-- end row -->
    
        <!-- copyright -->
        <div class="row">
            <div class="col-md-12 credits xs-margin-top">
                <p>Copyright © 2023&nbsp;Emily Ridge&nbsp;•&nbsp;Galway based Freelance Web Designer &amp; Developer</p>
            </div> <!-- end col -->   
        </div> <!-- end row -->
        
         <!-- back to top -->
        <div class="row">
            <div class="col-md-12">                 
                <div class="triangle img-center">
                    <a href="#" class="back-to-top" title="Back to top"><i class="fa fa-arrow-up hidden-xs"></i><i class="fa fa-chevron-up hidden-lg hidden-md hidden-sm"></i></a>
                </div> <!-- end triangle -->
            </div> <!-- end col -->   
        </div> <!-- end row -->

    </footer> <!-- end footer -->
</div>