<nav class="navbar navbar-expand-lg bg-body-tertiary custom-bg-color">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="openHome()">Prabhat Sharma</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="openHome()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click)="openAbout()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="openContactUs()">Contact Us</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
