<div class="main-container">
    <div class="intro-container">
        <h1>Hello, my name is Prabhat.</h1>
    <h2>
        I am a Software Designer / Engineer based in Delhi, INDIA.
        <br>Currently I'm working with one of the top multinational company & also working as a freelancer.
        I have around 6+ years of experience into Web Development.
    </h2>
    </div>
    <mat-divider class="mt-3 custom-divider"></mat-divider>
    <!-- <div>
        <app-project-showcase></app-project-showcase>
    </div>
    <mat-divider class="mt-3 custom-divider"></mat-divider> -->
    <h1 class="mt-3">What I can do</h1>
    <div class="can-do-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Front End Development</mat-card-title>
            </mat-card-header>
            <img src="/assets/images/front-end2.jpg" alt="Image Description">
            <mat-card-content>Front End focuses on layout, animations, content organization, graphics, navigation. The
                main objective of frontend technologies is to create the user interface as user friendly as
                possible.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript and many more
                <button type="button" class="btn learn-more-btn" (click)="openContact()">Learn More<i
                        class="fa fa-chevron-circle-right align-right"></i></button>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Back End Development</mat-card-title>
            </mat-card-header>
            <img src="/assets/images/back-end2.jpg" alt="Image Description">
            <mat-card-content>Back End focuses on creating API's i.e., Application Programming Interface that behaves as
                a bridge between front end and the database or we can say to communicate with the databases.<br>
                <b>Programming Languages</b><br>
                Nodejs, Php, Java and many more
                <button type="button" class="btn learn-more-btn" (click)="openContact()">Learn More<i
                        class="fa fa-chevron-circle-right align-right"></i></button>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Database Development</mat-card-title>
            </mat-card-header>
            <img src="/assets/images/data.png" alt="Image Description">
            <mat-card-content>Database is a place where we can store huge amount of data safely for a long period of
                time and it can be removed or accessed any time and from anywhere like we are keeping books in our shelfs at home<br>
                <b>Programming Languages</b><br>
                SQL, MongoDB and many more
                <button type="button" class="btn learn-more-btn" (click)="openContact()">Learn More<i
                        class="fa fa-chevron-circle-right align-right"></i></button>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-divider class="mt-3 custom-divider"></mat-divider>
</div>
<app-whatsapp-link></app-whatsapp-link>