.whatsapp-fancy-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
  }
  
  .whatsapp-fancy-button a {
    // display: inline-block;
    // background-color: #25d366;
    // color: white;
    // border-radius: 50px;
    // padding: 10px 20px;
    // text-decoration: none;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    display: inline-block;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    /* padding: 10px 20px; */
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 60px ;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .whatsapp-fancy-button .icon {
    margin-right: 10px;
  }
  
  .whatsapp-fancy-button .icon i {
    font-size: 24px;
  }
  