<div class="container">
    <h1 class="mt-4">
        Freelance Web Designer &amp; Developer based in Delhi, India.<br>Highly experienced in designing &amp; developing front end websites.
    </h1>
    <div class="card-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Front End Web Development</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/front-end.png" alt="Front End Web Development">
            <mat-card-content>Front End development specializes in creating and designing the user interface (UI) and user experience (UX) of websites and web applications.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Back End Web Development</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/back-end.png" alt="Image Description">
            <mat-card-content>Front End focuses on layout, animations, content organization, graphics, navigation. The
                main objective of frontend technologies is to create the user interface as user friendly as
                possible.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript and many more
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Database Development</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/database.png" alt="Image Description">
            <mat-card-content>Front End focuses on layout, animations, content organization, graphics, navigation. The
                main objective of frontend technologies is to create the user interface as user friendly as
                possible.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript and many more

            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Web Site maintenance</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/maintenance.png" alt="Image Description">
            <mat-card-content>Front End focuses on layout, animations, content organization, graphics, navigation. The
                main objective of frontend technologies is to create the user interface as user friendly as
                possible.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript and many more
            </mat-card-content>
        </mat-card>
        <mat-card draggable="true">
            <mat-card-header>
                <mat-card-title>Website Design</mat-card-title>
            </mat-card-header>
            <img src="../../../assets/images/web-design2.png" alt="Front End Web Development">
            <mat-card-content>Front End focuses on layout, animations, content organization, graphics, navigation. The
                main objective of frontend technologies is to create the user interface as user friendly as
                possible.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript and many more
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Performance Optimization</mat-card-title>
            </mat-card-header>
            <img style="height: 177px;" src="../../../assets/images/performance.jpeg" alt="Front End Web Development">
            <mat-card-content>Front End focuses on layout, animations, content organization, graphics, navigation. The
                main objective of frontend technologies is to create the user interface as user friendly as
                possible.<br>
                <b>Programming Languages</b><br>
                HTML, CSS, JavaScript and many more
            </mat-card-content>
        </mat-card>
    </div>
</div>