<div class="container">
    <h1 class="mt-4">
        Freelance Web Designer &amp; Developer based in Delhi, India.<br>Highly experienced in designing &amp;
        developing front end websites.
    </h1>
    <div class="card-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Front End Web Development</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/front-end3.svg" alt="Front End Web Development">
            <mat-card-content>Front End development specializes in creating and designing the user interface (UI) and
                user experience (UX) of websites and web applications.<br>
                <b>Like</b><br>
                HTML, CSS, JavaScript
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Back End Web Development</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/backend.png" alt="Back End Development">
            <mat-card-content>Backend developers take care and maintain the back-end of a website, Including databases,
                servers, and apps, and they control what you don't see.<br>
                <b>Like</b><br>
                NodeJs, PHP
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Database Development</mat-card-title>
            </mat-card-header>
            <img src="../../../assets/images/database1.png" alt="Database Development">
            <mat-card-content>Database development is designing, creating a database or data model, and analyzing
                requirements and their intents as raw data.<br>
                <b>Like</b><br>
                MySQL, MongoDB
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Website maintenance</mat-card-title>
            </mat-card-header>
            <img style="height: 300px;" src="../../../assets/images/website-maintenace.png" alt="Website maintenance">
            <mat-card-content>Website maintenance is the act of regularly checking your website for issues and mistakes and keeping it updated and relevant.<br>
                <b>Like</b><br>
                SEO, Google rankings
            </mat-card-content>
        </mat-card>
        <mat-card draggable="true">
            <mat-card-header>
                <mat-card-title>Website Design</mat-card-title>
            </mat-card-header>
            <img src="../../../assets/images/noun-web-design-1959156.png" alt="Website Design">
            <mat-card-content>Website design creates the overall appearance and reflection of the company's brand and information.<br>
                <b>Like</b><br>
                Figma, Canva
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Performance Optimization</mat-card-title>
            </mat-card-header>
            <img style="margin-top:1rem;height:230px;" src="../../../assets/images/website-performance.png" alt="Performance Optimization">
            <mat-card-content style="margin-top: 4.5rem;"> Website performance refers to how rapidly a website's pages load and display in a web browser. <br>
                <b>Like</b><br>
                GTmetrix
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- <app-whatsapp-link></app-whatsapp-link> -->